.forecastContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin: 0 auto;
}

.futureDay {
  background-color: #1e213a;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 0.6rem;
  width: 14rem;
  max-height: 22rem;
  margin: 0 auto;
  text-align: center;
}

.futureDay span {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  line-height: 1.4;
  min-height: 3.6rem;
  margin-bottom: 0.6rem;
}

.futureDay p {
  color: white;
  font-size: 1.6rem;
}

.futureDay-info {
  background-color: #1e213a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.futureDay-info span {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}

.futureDay-info span:nth-child(2) {
  color: #4fa3ff;
  font-size: 1.8rem;
}

.futureDay-info p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.futureDay-info p:nth-child(2) {
  color: #4fa3ff;
  font-size: 1.2rem;
  font-weight: 600;
}
